/*

FONTS:

'Josefin Sans'
'Noto Serif'
'Dancing Script'

COLORS:

light tan: #eeebda

*/

body {
  font-family: 'Noto Serif', serif;
  line-height: 1.8;
  margin: 0;
  background-color: #eeebda;
}

h1, h2, h3 {
  font-family: "Josefin Sans", sans-serif;
  margin-top: 0;
}

img {
  max-width: 100%;
  padding: 0;
  margin: 0;
  display: block;
}

.wrapper {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  /*

    */
}

#site-header {
  /*flex-wrap: wrap;*/
  /*
        TODO
        - Flexbox property here
    */
}

#site-header div {
  text-align: center;
  padding: 60px 0 120px 0;
  font-size: 4em;
  background-image: url("img/header-img.jpg");
  width: 1000px;
  /*

    */
  background-size: cover;
  background-position: right bottom;
}

#site-header div h1, #site-header div h3 {
  margin: 0;
  line-height: 1;
  position: relative;
}

#site-header div h1 {
  top: 20px;
}

#site-header div h3 {
  color: white;
  bottom: 20px;
  text-shadow: 0 5px 8px rgba( 0, 0, 0, 0.3);
  font-family: "Dancing Script", sans-serif;
  /*
        TODO:
        - Use the script font: 'Dancing Script' fot this text
    */
}

#main-navigation {
  background: #444;
  justify-content: space-between;
  display: flex;
  /*

    */
}

#main-navigation a {
  display: block;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 20px;
  /*
        TODO:
        - Flexbox - Create general spacing between nav links
    */
}

#main-navigation #logo {
  margin-right: 400px;
  /*
        TODO:
        - Flexbox - The logo needs to take up more space
        that the other links
    */
}

main {
  padding: 20px;
  background-color: #444;
  box-shadow: -5px 5px 8px rgba( 0, 0, 0, 0.3);
  flex-basis: 50%;
  flex-wrap: wrap;
  position: relative;
  top: -40px;
  /*z-index: 1;*/
  /*
        TODO:
        - Flexbox: Set the starting width of this element
        - Use relative positioning to bump this upward
    */
}

aside {
  padding: 20px;
  background-color: #eee;
  box-shadow: 5px 5px 8px rgba( 0, 0, 0, 0.3);
  inline-size: 200px;
  position: relative;
  top: -40px;
  flex-basis: 20%;
  /*
        TODO:
        - Flexbox: Set the starting width of this element
        - Use relative positioning to bump this upward
    */
}

aside h3 {
  text-align: center;
  margin: 0 0 10px 0;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #ccc;
}

aside img {
  border-radius: 50%;
  margin-bottom: 30px;
  border: 2px solid white;
}

article {
  background-color: white;
  box-shadow: -5px 5px 8px rgba( 0, 0, 0, 0.3);
  padding: 20px;
  margin-bottom: 20px;

}

article h2 {
  line-height: 1em;
  font-weight: bold;
  text-align: center;
  margin: 0 0 10px 0;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #ccc;
  text-transform: uppercase;
}

article time {
  font-size: 0.8em;
  text-align: center;
  display: block;
  margin-bottom: 30px;
  color: #666;
}

article img {
  width: 250px;
  float: right;
  /*
        TODO:
        - Float article images to the right
        and match sizes and spacing to the mockup
    */
}

article footer p {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 0.8em;
  color: #666;
  border-top-color: lightgrey;
  border-top-width: thin;
  border-top-style: solid;
  /*line-height: normal;*/
  /*
        TODO:
        - Style the article footer
        HINT: Look to the article header;
    */
}

#site-footer {
  display: flex;
  justify-content: center;
  color: white;
  background: #333;
  padding: 20px;
  /*
        TODO:
        - Style the site footer
    */
}
